.header {
    background: url(../images/hero.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
}

.header .contain {
    display: table-cell;
    vertical-align: middle;
}


.header h3 {
    font-size: 45px;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.header .form_box {
    background: #fff;
    border-radius: 3px;
    padding: 20px 20px;
    width: 80%;
}

.header .form_box button {
    margin-top: 5%;
}

.header .form_box h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3%;
}

.header img {
    height: 1rem;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.sec_header {
    background: #FBFBFB;
    text-align: center;
}

.sec_header img.main {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.sec_header img.main {
    height: 32rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.sec_header img.sec_logo {
    height: 5rem;
    width: auto;
    margin-bottom: 10px;
    padding-top: 5%;
}

.sec_header h5 {
    font-size: 16px;
}

.sec_header h3 {
    font-size: 20px;
    width: 50%;
    margin: 0% auto;
    display: block;
    color: #2a2a2a;
    margin-bottom: 15px;
    font-weight: 500;
}

.sec_header p {
    font-size: 15px;
    line-height: 1.7;
    color: #606060;
    width: 90%;
    margin: 0% auto;
    display: block;
    margin-bottom: 20px;
}

.bg1 {
    background: url(../images/img1.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    position: relative;
}

.bg2 {
    background: url(../images/img2.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    position: relative;
}

.bg3 {
    background: url(../images/img2.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    position: relative;
}

.bg_cover {
    position: absolute;
    top: 0%;
    background: rgba(0, 0, 0, .8);
    left: 0%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_cover h3 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0%;
}

.bg_cover p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.carousel_arrow {
    margin-top: 2%;
}

.carousel_arrow div {
    display: inline-block;
    border: 1px solid #605147;
    padding: 5px 8px;
}

.ant-carousel .slick-dots-bottom {
    display: none !important;
}

.grid_img_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.div_props {
    margin-top: 5%;
}

.gallery_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

img.gallery_2 {
    width: 100%;
    height: 20rem;
    display: inline-block;
}

.gallery_props {
    overflow: hidden;
}

.gallery_props img.gallery_3 {
    height: 40rem;
    width: 100%;
}

.rc {
    height: 20rem;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.blog p.main_p {
    width: 50%;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 40px;
}

.hotel_props .grid_4 img {
    height: 2.5rem;
    width: auto;
    margin-bottom: 20px;
}

.hotel_props .grid_4 h5, .hotel_props .grid_3 h5 {
    font-size: 16px;
    font-weight: 500;
}

h3.homepage_tab_header {
    font-size: 25px;
    width: 35%;
    line-height: 1.3;
}

.hotel_props .grid_4 p {
    line-height: 1.7;
}

.gallery_props .row_2 div {
    height: 100%;
}

.div_props.gallery_props.gray_bg .large_bg {
    background: url('../images/img_gallery_1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.gallery_props h3.homepage_tab_header {
    padding-top: 10%;
    width: 60%;
}

.gallery_props p.main_p {
    margin-bottom: 5%;
}